{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
    <main class="flex-1 space-y-6">
      <div {{ vue_component('Formations/FormationTabs', {             
            apiUrl:      path('formation_api'),
             newUrl:      path('formation_new'),
             sessionApi:  path('api_session_list'),
             sessionNew:  path('session_new')})  }}></div>
    </main>
</div>


<script>
  window.APP_ROUTES = {
    formationApi: "{{ path('formation_api') }}",
    formationNew: "{{ path('formation_new') }}",
    sessionApi:   "{{ path('api_session_list') }}",
    sessionNew:   "{{ path('session_new') }}"
  };
</script>
{% endblock %}